@font-face {
  font-family: 'unknown'; /* 定义字体名称 */
  src: url('./Unknown-MX.ttf') format('truetype'); /* 引用本地字体文件路径 */
}

html{
 height: 100vh;
 width: 100vw;
  font-size:16px;
  background: #0D0D0D; 
  font-family: "t26-carbon", monospace;
font-weight: 100;
font-style: normal;
margin:0rem;
}

body{
  margin:0rem;
}



.gradientTop{
 position: fixed;
 top:4.8rem;
 margin-left:0rem;
 margin: 0;
 z-index: 99;
}

.gradientBot{
  position: fixed;
  bottom: 0rem;
  margin-left:0rem;
  margin: 0;
  z-index: 99;
 }

 


 @media screen and (max-width: 768px) {

  html{
    height: 100vh;
    width: 100vw;
     font-size:16px;
     background: #0D0D0D; 
     font-family: "t26-carbon", monospace;
   font-weight: 100;
   font-style: normal;
   margin:0rem;
   overflow-x: hidden;
   }

   .flex-container1 { order: 1; }
   .flex-container2 { order: 2; }

   .flex-container1{
    position: relative;
    display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:18.625rem;
  gap: 1.5rem;
  top:1.94rem;
  margin: 0;
  left:50%;
  transform: translate(-50%, 0%);
  }
  

  .title-container{
    position: fixed;
    z-index: 888;
    display: flex;
  flex-direction: row;
  align-items: flex-start;
  width:80vw;
  height: 12vh;
  gap: 0.75rem;
  margin: 0;
  padding: 0.75rem;
  border-bottom: 1px solid #BCE743;
  background-color: #0D0D0D;
  }
  
  .title-block{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.5625rem;
  }

.logo{
  width: 8.8125rem;
height: 5.0625rem;
margin: 0;
}

.line{
  width: 20rem;
  border-right: 2px solid #eee;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  color:yellow;
}
@keyframes grow {
  from {
    width:0;
  }
  to{
    width: 20rem;
  }
}

@keyframes blink {
  from{
    border-right-color: #eee;
  }
  to{
    border-right-color: transparent;
  }
}
@keyframes shadowBlink {
  from {
      filter: drop-shadow(0px 0px 1px rgba(12, 191, 7, 1));
  }
  to {
      filter: drop-shadow(0px 0px 20px rgba(12, 191, 7, 1));
  }
}

a:active{
  color:#eee;
}

#main:hover > #hoveringText {
  display : block;
}

#hoveringText {
  position: absolute;
  font-style: italic;
  font-size: 1rem;
  color:#7530D9;
  display: none;
  text-align: center;
  padding-top: 1rem;
  width: 6rem;
  height: 5rem;
  background-color: #BCE743;
  border-radius: 999rem;
  mix-blend-mode: exclusion;
}

#main{
  /* width: 300px;
  height: 300px; */
  cursor: none;
}


.about{
  display: flex;
width: 6.625rem;
height: 2.1875rem;
padding: 0.25rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
border-radius: 0.1875rem;
border: 1px solid #7530D9;
background: #000;
color: #7530D9;
font-size: 0.75rem;
font-style: italic;
font-weight: 425;
line-height: normal;
position:relative;
margin: 0;
}

#box{
  width:20rem;
  overflow: hidden;
  border: 1px solid #7530D9;
}

#box .text {
  display: inline-block;
  min-width: 100%;
  white-space: nowrap;
  font-size: 0.75rem;
  color: #7530D9;
  font-family: "unknown";
  text-align: center;
  animation: moving 15s infinite;
  animation-direction: alternate;
}

@keyframes moving {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(20rem - 100%));
  }
  
}
.scroll-container {
  border-left: 2px double #7530D9;
  border-right: 2px double #7530D9;
  overflow: hidden;
  height: 1rem;
  width:16rem;
  top:2rem;
}

#scroll-text {
  display: flex;
  font-family: "unknown";
  font-size: 0.75rem;
  color: #7530D9;
  width: 100%;
  height: 1rem;
  /* overflow: hidden;  */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  white-space: nowrap;
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 12s linear infinite;
}



@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}


.tag-block1{
  display: flex;
  position: fixed;
  z-index: 999;
  background-color: #0D0D0D;
  right: 0%;
  width: 20vw;
  height: 70vh;
  padding: 1rem 1rem 0.25rem 1rem;
  align-items: center;
  align-content: flex-start;
  flex-shrink: 0;
  flex-wrap: wrap;
  overflow-y: auto;
  gap: 0.3125rem;
  border-left: 1px solid #BCE743;
  border-bottom: 1px solid #BCE743;
  /* top:8.5rem; */
  margin: 0;
  }
  
  .tag-block2{
    position: fixed;
    display: flex;
    width: 20vw;
    bottom: 0%;
    height:30vh;
    right: 0%;
    flex-wrap: wrap;
    background-color: #0D0D0D;
    z-index: 889;
    border-left: 1px solid #BCE743;
    padding: 0rem 1rem;
    align-items: flex-start;
  align-content: center;
  gap: 0.3125rem;
  flex-wrap: wrap;
  margin-top: 1.75rem;
  }
  
  .tag-block2 p{
    font-size: 1rem;
    padding: 0rem;
    margin: 0rem;
    color: #BCE743;
  }
  
  
  .tag{
    border-radius: 6.1875rem;
  border: 1px solid #BCE743;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #BCE743;
  background-color: #000;
  font-family: "t26-carbon", monospace;
  font-weight: 100;
  font-style: normal;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
  }
  
  

button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  overflow: hidden;
  transition: color 0.4s ease-in;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #7530D9;
  transform-origin: center;
  transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in;
}

button:hover {
  cursor: pointer;
}

button:hover::before {
  transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}

.clicked{
  background-color: #7530D9;
  color:#BCE743;
}


.fourX{
  padding: 0.3125rem;
}

.Action{
  padding: 0.4375rem;
}

.ADVAVG{
  padding: 2.3125rem;
}

.AAVG{
  padding: 0.6875rem;
}

.ARPG{
  padding: 0.9375rem;
}

.Fighting{
  padding: 0.8125rem;
}

.Horror{
  padding: 0.6875rem;
}

.Indie{
  padding: 1.1875rem;
}

.JRPG{
  padding: 0.3125rem;
}

.Metroidvania{
  padding: 0.3125rem;
}

.MMORPG{
  padding: 0.5625rem;
}

.MOBA{
  padding: 0.3125rem;
}

.Puzzle{
  padding: 0.8125rem;
}

.RPG{
  padding: 0.8125rem;
}

.Sandbox{
  padding: 0.3125rem;
}

.Simulation{
  padding: 0.4375rem;
}

.SocialSimulation{
  padding: 0.3125rem;
}

.Soulslike{
  padding: 0.3125rem;
}

.SRPG{
  padding: 0.3125rem;
}

.Shooting{
  padding: 0.6875rem;
}

.Strategy{
  padding: 0.5625rem;
}

.VisualNovel{
  padding: 0.4375rem;
}

.WalkingSimulator{
  padding: 0.3125rem;
}

.arrow{
  display: flex;
justify-content: center;
align-items: center;
padding-top: 1rem;
gap: 0.625rem;
left:50%;
width: 18.625rem;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-name: bounce-4;
animation-timing-function: ease;
}

@keyframes bounce-4 {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-20px); }
  50%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}
/* 
.menu{
position: fixed;
  top:16%;
  right:0rem;
  justify-content: flex-end;
  border-radius: 0.125rem;
  background-color: #7530D9;
  
}
span{
  display: flex;
  color: #BCE743;
  font-family: "t26-carbon", monospace;
  font-size: 3rem;
  color:#BCE743 ;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
}
.sidenav {
  position: fixed;
  top:14.25rem;
  right: -21.5rem;
  display: flex;
width: 100%;
height: 1.6875rem;
padding: 0.625rem 1.25rem;
justify-content: center;
align-items: center;
gap: 1.75rem;
flex-shrink: 0;
border-radius: 0rem 0rem 999.3125rem 999.3125rem;
background: #7530D9;
margin: 0;
transition: 0.5s;
z-index: 888;
}

.sidenav a {
  color: #BCE743;
  font-family: "t26-carbon", monospace;
  font-weight: 100;
  font-style: normal;
font-size: 0.75rem;
font-weight: 425;
line-height: normal;
text-transform: uppercase;
text-decoration: none;
  transition: 0.3s;
}

.sidenav a:hover {
  text-decoration:  1px dashed underline;
}

.sidenav .closebtn {
  left: 0;
  font-size: 3rem;
} */


.side-bar{
  position: fixed;
  top:9.25rem;
  right: -7.5rem;
  display: flex;
width: 15.125rem;
height: 1.6875rem;
transform: rotate(90deg);
padding: 0.625rem 1.25rem;
justify-content: center;
align-items: center;
gap: 1.25rem;
flex-shrink: 0;
border-radius: 0rem 0rem 999.3125rem 999.3125rem;
background: #7530D9;
margin: 0;
z-index: 999;
}

.side-bar p{
  color: #BCE743;
  font-family: "t26-carbon", monospace;
  font-weight: 100;
  font-style: normal;
font-size: 0.75rem;
font-style: italic;
font-weight: 425;
line-height: normal;
}


.side-bar a{
  color: #BCE743;
  font-family: "t26-carbon", monospace;
  font-weight: 100;
  font-style: normal;
font-size: 0.75rem;
font-style: italic;
font-weight: 425;
line-height: normal;
text-decoration-line: underline;
text-transform: uppercase;
}

.none-current{
  mix-blend-mode: luminosity;
}

.flex-container2{
  /* display: none; */
  position: relative;
  top:4rem;
}

.game-element .flex-container {
  display: flex;
  flex-direction: column;
}



#game-container-metro
{
display: inline-flex;
width: 80vw;
padding: 0rem;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
justify-content: flex-start;
gap: 1.5rem;
/* border-top: 1px solid #BCE743; */
position: relative;
margin-top: 4rem;
}

.game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
  padding:1rem;
  border-bottom: 1px dashed #BCE743;
  border-top: 1px solid #BCE743;
}

.text-block{
  margin-top: 0.75rem;
  display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: 0.25rem;

}


.text-block {
  color: #BCE743;
  font-family: "unknown";
font-size: 0.75rem;
font-style: normal;
font-weight: 425;
line-height: -0.5px;
width: 19.375rem;
margin: 0;
margin-left: 0rem;
}

.text-block h2{
  color: #BCE743;
  font-family: "unknown";
  font-size: 1rem;
  margin-bottom:0rem;
}


.text-block p{
  color: #BCE743;
  font-family: "t26-carbon", monospace;
font-size: 0.75rem;
font-style: normal;
font-weight: 425;
line-height: normal;
width: 17.375rem;
margin:0rem;
padding-left: 1.75rem;
}

.image-container{
  position: relative;
  width: 21.4rem; 
  height: 10rem;
}

.original-img, .filtered-img {
  position: absolute; 
  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: center center;
}


.original-img {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .original-img {
  opacity: 1;
}

.filtered-img{
  opacity: 1;
  transition: opacity 0.3s ease ;
}

.image-container:hover .filtered-img {
  opacity: 0;
}
 }



@media screen and (min-width: 768px) {

  html{
    height: 100vh;
    width: 100vw;
     font-size:20px;
     background: #0D0D0D; 
     font-family: "t26-carbon", monospace;
   font-weight: 100;
   font-style: normal;
   margin:0rem;
   overflow-x: hidden;
   }

   .flex-container1 { order: 2; }
   .flex-container2 { order: 1; }


.title-container{
  position: fixed;
  z-index: 888;
  display: flex;
flex-direction: row;
align-items: flex-start;
width:80vw;
height: 14vh;
gap: 1.25rem;
margin: 0;
padding: 1.25rem;
border-bottom: 1px solid #BCE743;
background-color: #0D0D0D;
}

.title-block{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5625rem;
}

.scroll-container {
  border-left: 2px double #7530D9;
  border-right: 2px double #7530D9;
  overflow: hidden;
  height: 1rem;
  width:77.5vw;
  top:2rem;
}

#scroll-text {
  display: flex;
  font-family: "unknown";
  font-size: 0.75rem;
  color: #7530D9;
  width: 100%;
  height: 1rem;
  /* overflow: hidden;  */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  white-space: nowrap;
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 12s linear infinite;
}



@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.logo{
  width: 8.8125rem;
height: 5.0625rem;
margin: 0;
}

@keyframes shadowBlink {
  from {
      filter: drop-shadow(0px 0px 1px rgba(12, 191, 7, 1));
  }
  to {
      filter: drop-shadow(0px 0px 20px rgba(12, 191, 7, 1));
  }
}


#main:hover > #hoveringText {
  display : block;
}


#hoveringText {
  position: absolute;
  font-style: italic;
  font-size: 0.75rem;
  color:#7530D9;
  display: none;
  text-align: center;
  padding-top: 1rem;
  width: 5rem;
  height: 4rem;
  background-color: #BCE743;
  border-radius: 999rem;
  mix-blend-mode: exclusion;
}

#main{
  /* width: 300px;
  height: 300px; */
  cursor: none;
}

.about{
  display: flex;
width: 6.625rem;
height: 1.1875rem;
padding: 0.25rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
border-radius: 0.1875rem;
border: 1px solid #7530D9;
background: #0D0D0D;
color: #7530D9;
font-size: 0.75rem;
font-style: italic;
font-weight: 425;
line-height: normal;
position:relative;
margin: 0;
}

.tag-block1{
display: flex;
position: fixed;
z-index: 999;
background-color: #0D0D0D;
right: 0%;
width: 20vw;
height: 70vh;
padding: 2rem 2rem 0.25rem 2rem;
align-items: center;
align-content: flex-start;
flex-shrink: 0;
flex-wrap: wrap;
overflow-y: auto;
gap: 0.3125rem;
border-left: 1px solid #BCE743;
border-bottom: 1px solid #BCE743;
/* top:8.5rem; */
margin: 0;
}

.tag-block2{
  position: fixed;
  display: flex;
  width: 20vw;
  bottom: 0%;
  height:30vh;
  right: 0%;
  flex-wrap: wrap;
  background-color: #0D0D0D;
  z-index: 889;
  border-left: 1px solid #BCE743;
  padding: 0rem 2rem;
  align-items: flex-start;
align-content: center;
gap: 0.3125rem;
flex-wrap: wrap;
margin-top: 1.75rem;
}

.tag-block2 p{
  font-size: 1rem;
  padding: 0rem;
  margin: 0rem;
  color: #BCE743;
}


.tag{
  border-radius: 6.1875rem;
border: 1px solid #BCE743;
display: flex;
justify-content: center;
align-items: center;
gap: 0.625rem;
color: #BCE743;
background-color: #000;
font-family: "t26-carbon", monospace;
font-weight: 100;
font-style: normal;
font-size: 0.75rem;
font-weight: 400;
margin: 0;
}


button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 100%;
  right: 100%;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #7530D9;
  transform-origin: center;
  transform: translate3d(50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

button:hover {
  cursor: pointer;
}

button:hover::before {
  transform: translate3d(50%, -50%, 0) scale3d(15, 15, 15);
}


.AAVG{
  padding: 0.2rem;
}

.Action{
  padding: calc(0.2rem * 3);
}

.ADVAVG{
  padding: calc(0.2rem * 4);
}

.ARPG{
  padding: calc(0.2rem * 1);
}

.Building{
  padding: calc(0.2rem * 3);
}

.Card{
  padding: calc(0.2rem * 1);
}

.Casual{
  padding: calc(0.2rem * 4);
}

.Co-op{
  padding: calc(0.2rem * 2);
}

.Cyberpunk{
  padding: calc(0.2rem * 2);
}

.Design{
  padding: calc(0.2rem * 1);
}

.Gore{
  padding: calc(0.2rem * 1);
}

.Horror{
  padding: calc(0.2rem * 6);
}

.JRPG{
  padding: calc(0.2rem * 4);
}

.Management{
  padding: calc(0.2rem * 2);
}

.Metroidvania{
  padding: calc(0.2rem * 1);
}

.OpenWorld{
  padding: calc(0.2rem * 2);
}

.Pixel{
  padding: calc(0.2rem * 4);
}

.Puzzle{
  padding: calc(0.2rem * 2);
}

.RPG{
  padding: calc(0.2rem * 5);
}

.Simulation{
  padding: calc(0.2rem * 4);
}

.Soulslike{
  padding: calc(0.2rem * 1);
}

.WalkingSimulator{
  padding: calc(0.2rem * 1);
}



@keyframes bounce-4 {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.1,.9) translateY(0); }
  30%  { transform: scale(.9,1.1) translateY(-20px); }
  50%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}


.side-bar{
  position: fixed;
  top:9.25rem;
  right: -7.5rem;
  display: flex;
width: 15.125rem;
height: 1.6875rem;
transform: rotate(90deg);
padding: 0.625rem 1.25rem;
justify-content: center;
align-items: center;
gap: 1.25rem;
flex-shrink: 0;
border-radius: 0rem 0rem 999.3125rem 999.3125rem;
background: #7530D9;
margin: 0;
z-index: 999;
}

.side-bar p{
  color: #BCE743;
  font-family: "t26-carbon", monospace;
  font-weight: 100;
  font-style: normal;
font-size: 0.75rem;
font-style: italic;
font-weight: 425;
line-height: normal;
}


.side-bar a{
  color: #BCE743;
  font-family: "t26-carbon", monospace;
  font-weight: 100;
  font-style: normal;
font-size: 0.75rem;
font-style: italic;
font-weight: 425;
line-height: normal;
text-decoration-line: underline;
text-transform: uppercase;
}

.none-current{
  mix-blend-mode: luminosity;
}

.flex-container2{
  /* display: none; */
  position: relative;
  top:4rem;
}

.game-element .flex-container {
  display: flex;
  flex-direction: row;
}



#game-container-metro
{
display: inline-flex;
width: 80vw;
padding: 0.75rem;
flex-direction: row;
flex-wrap: wrap;
align-items: flex-start;
justify-content: flex-start;
gap: 1.5rem;
/* border-top: 1px solid #BCE743; */
position: relative;
margin-left: 2rem;
margin-top: 4rem;
}

.game{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.25rem;
  padding:1rem;
  border-bottom: 1px dashed #BCE743;
  border-top: 1px solid #BCE743;
  height: 19rem;
}

.text-block{
  margin-top: 0.75rem;
  display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: 0.25rem;

}


.text-block h2{
  color: #BCE743;
  font-family: "unknown";
font-size: 0.75rem;
font-style: normal;
font-weight: 425;
line-height: -0.5px;
width: 19.375rem;
margin: 0;
margin-left: 0rem;
}


.text-block p{
  color: #BCE743;
  font-family: "t26-carbon", monospace;
font-size: 0.75rem;
font-style: normal;
font-weight: 425;
line-height: normal;
width: 17.375rem;
margin:0rem;
padding-left: 2.5rem;
}


.image-container{
  position: relative;
  width: 460px; 
  height: 215px;
}

.original-img, .filtered-img {
  position: absolute; 
  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: center center;
}


.original-img {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .original-img {
  opacity: 1;
}

.filtered-img{
  opacity: 1;
  transition: opacity 0.3s ease ;
}

.image-container:hover .filtered-img {
  opacity: 0;
}
 }

