@font-face {
  font-family: 'unknown'; /* 定义字体名称 */
  src: url('./Unknown-MX.ttf') format('truetype'); /* 引用本地字体文件路径 */
}

html{
 height: 100vh;
 width: 100vw;
  font-size:16px;
  background: #0d0d0d; 
  font-family: "t26-carbon", monospace;
font-weight: 100;
font-style: normal;
margin:0rem;
overflow: hidden;
}

body{
  margin:0rem;
}


.rulerTop,
.rulerTop1,
.rulerTop2
{
  position: absolute;
  top:0.25rem;
  margin: 0;
}

.rulerTop{
  left: 0.85rem;
}
.rulerTop1{ 
  left: calc(0.85rem + (562.5px * 1));
}
.rulerTop2{
  left: calc(0.85rem + (562.5px * 2));
}

.rulerLeft,
.rulerLeft2,
.rulerLeft3,
.rulerLeft4,
.rulerLeft5,
.rulerLeft6,
.rulerLeft7,
.rulerLeft8,
.rulerLeft9,
.rulerLeft10,
.rulerLeft11,
.rulerLeft12,
.rulerLeft13,
.rulerLeft14,
.rulerLeft15,
.rulerLeft16,
.rulerLeft17,
.rulerLeft18,
.rulerLeft19,
.rulerLeft20,
.rulerLeft21,
.rulerLeft22,
.rulerLeft23,
.rulerLeft24
{
  position: absolute;
  left: 0.25rem;
  margin: 0;
  height: 100vh;
  width: 0.4375rem;
  /* background-repeat: repeat-y; */
}
.rulerLeft{
  top:0.85rem;
}
.rulerLeft2{ 
  top: calc(0.85rem + (562.5px * 1));
}
.rulerLeft3{
  top: calc(0.85rem + (562.5px * 2));
}
.rulerLeft4{
  top: calc(0.85rem + (562.5px * 3));
}
.rulerLeft5{
  top: calc(0.85rem + (562.5px * 4));
}
.rulerLeft6{
  top: calc(0.85rem + (562.5px * 5));
}
.rulerLeft7{
  top: calc(0.85rem + (562.5px * 6));
}
.rulerLeft8{
  top: calc(0.85rem + (562.5px * 7));
}
.rulerLeft9{
  top: calc(0.85rem + (562.5px * 8));
}
.rulerLeft10{
  top: calc(0.85rem + (562.5px * 9));
}
.rulerLeft11{
  top: calc(0.85rem + (562.5px * 10));
}
.rulerLeft12{
  top: calc(0.85rem + (562.5px * 11));
}
.rulerLeft13{
  top: calc(0.85rem + (562.5px * 12));
}
.rulerLeft14{
  top: calc(0.85rem + (562.5px * 13));
}
.rulerLeft15{
  top: calc(0.85rem + (562.5px * 14));
}
.rulerLeft16{
  top: calc(0.85rem + (562.5px * 15));
}
.rulerLeft17{
  top: calc(0.85rem + (562.5px * 16));
}
.rulerLeft18{
  top: calc(0.85rem + (562.5px * 17));
}
.rulerLeft19{
  top: calc(0.85rem + (562.5px * 18));
}
.rulerLeft20{
  top: calc(0.85rem + (562.5px * 19));
}
.rulerLeft21{
  top: calc(0.85rem + (562.5px * 20));
}
.rulerLeft22{
  top: calc(0.85rem + (562.5px * 21));
}
.rulerLeft23{
  top: calc(0.85rem + (562.5px * 22));
}
.rulerLeft24{
  top: calc(0.85rem + (562.5px * 23));
}


.gradientTop{
 position: fixed;
 top:-1.4rem;
 margin-left:0rem;
 margin: 0;
 z-index: 99;
}

.gradientBot{
  position: fixed;
  bottom: 0rem;
  margin-left:0rem;
  margin: 0;
  z-index: 99;
 }

 .text-animation{
  animation: fontChange 3.5s infinite;
  color: #0CBF07;
  font-size: 2rem;

 }


 .text-container{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 50vh;
  width: 100vw;
  flex-wrap: wrap;
 }

 @keyframes blink {
  0%, 49% {
      opacity: 1;
  }
  50%, 100% {
      opacity: 0;
  }
}



 .blink {
  /* animation: blink 3s ease-in infinite; */
  color: #7530D9;
  font-size: 1rem;
}


 .intro-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 50vh;
  width: 100vw;
  flex-wrap: wrap;
 }

 @media screen and (max-width: 768px) {

  html{
    height: 100vh;
    width: 100vw;
     font-size:16px;
     background: #0D0D0D; 
     font-family: "t26-carbon", monospace;
   font-weight: 100;
   font-style: normal;
   margin:0rem;
   overflow-x: hidden;
   }

  

 }



@media screen and (min-width: 768px) {

  html{
    height: 100vh;
    width: 100vw;
     font-size:20px;
     background: #0d0d0d; 
     font-family: "t26-carbon", monospace;
   font-weight: 100;
   font-style: normal;
   margin:0rem;
   overflow-x: hidden;
   }

  
 }

